*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', sans-serif;
}

ul,
ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

iframe{
    max-width: 100%;

}

body{
    background-color: #F1EFEF;
}