/*----Caracteristicas----*/
/*----Seccion 1----*/
.caracteristicas{
    padding: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

/*----Seccion 2----*/

.jugabilidad{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.div-2{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.div-6{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.div-4{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.div-5{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.div-3{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.div-7{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

@media(min-width: 768px){
    .jugabilidad {
        gap: 2rem;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        .div-1 { grid-area: 1 / 3 / 2 / 5; }
        .div-2 { grid-area: 2 / 1 / 3 / 3; }
        .div-3 { grid-area: 2 / 3 / 3 / 5; }
        .div-4 { grid-area: 2 / 5 / 3 / 7; }
        .div-5 { grid-area: 3 / 1 / 5 / 3; }
        .div-6 { grid-area: 3 / 3 / 5 / 5; }
        .div-7 { grid-area: 3 / 5 / 5 / 7; }
}



/*----Seccion 3----*/

.futbolista-dt{
    padding: 2rem;
    background-color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.div--2{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.div--3{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.div--4{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.div--5{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.div--6{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.div--7{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

@media(min-width: 768px){
    .futbolista-dt {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div--1 { grid-area: 1 / 3 / 2 / 5; }
        .div--2 { grid-area: 2 / 1 / 3 / 3; }
        .div--5 { grid-area: 2 / 5 / 3 / 7; }
        .div--6 { grid-area: 3 / 5 / 5 / 7; }
        .div--3 { grid-area: 3 / 1 / 5 / 3; }
        .div--4 { grid-area: 5 / 1 / 7 / 3; }
        .div--7 { grid-area: 5 / 5 / 7 / 7; }
}