/*----Galeria----*/

.galeria-titulo{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
}

.dortmund{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
}

.united{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
}

.city{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
}

.moukoko{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
}

.garnacho{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
}

.erling{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
}

@media(min-width: 768px){
    .estadios{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: auto;
    }

    .jugadores{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: auto;
    }

}